@import "./reset.css";
@import url("https://fonts.googleapis.com/css?family=Raleway");

#root {
  width: 100%;
  height: 100%;
}

body,
html {
  width: 100%;
  height: 100%;
  background: rgb(255, 136, 192);
  background: linear-gradient(
    135deg,
    rgba(255, 136, 192, 1) 50%,
    rgba(255, 159, 204, 1) 50%,
    rgba(255, 159, 204, 1) 50%
  );
  font-family: "Raleway", sans-serif;
}

.flex {
  margin-left: 10%;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.advice-get {
  border: none;
  border-radius: 6px;
  color: #3f2141;
  background: white;
  padding: 10px;
  font-size: 2.75rem;
  min-width: 15rem;
  max-width: 20rem;
  box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  cursor: pointer;
}

.advice-get:active {
  transform: translate(1px, 1px);
  box-shadow: none;
}

.advice-text {
  color: #3f2141;
  font-weight: 800;
  min-height: 15rem;
  text-align: center;
  font-size: 3.5rem;
  /* padding: 2rem; */
}
