@import "./reset.css";
@import url("https://fonts.googleapis.com/css?family=Raleway");

#root {
  width: 100%;
  height: 100%;
}

body,
html {
  width: 100%;
  height: 100%;
  background: rgb(255, 136, 192);
  background: linear-gradient(
    135deg,
    rgba(255, 136, 192, 1) 50%,
    rgba(255, 159, 204, 1) 50%,
    rgba(255, 159, 204, 1) 50%
  );
  font-family: "Raleway", sans-serif;
}

.grid {
  margin-left: 10%;
  width: 80%;
  height: 100%;
  display: grid;
  grid-template-areas:
    "advice advice advice"
    ". button share";
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 70% 15%;
  grid-gap: 15px;
  align-items: center;
  /* justify-self: center */
}

.advice-get {
  grid-area: button;
  border: none;
  border-radius: 6px;
  color: #3f2141;
  background: white;
  padding: 10px;
  min-height: 5rem;
  font-size: 2.75rem;
  min-width: 15rem;
  max-width: 20rem;
  box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.219);
  text-decoration: none;
  cursor: pointer;
  align-self: center;
  justify-self: center;
}

.advice-get:hover {
  background: rgb(247, 247, 247);
}

.advice-get:active {
  transform: translate(1px, 1px);
  box-shadow: none;
}

.advice-text {
  grid-area: advice;
  color: #3f2141;
  font-weight: 800;
  text-align: center;
  font-size: 3.4rem;
}

.share-link {
  grid-area: clipboard;
  background: white;
  border-radius: 5px;
  padding: 1rem;
  min-height: 2.5rem;
  font-size: 2.75rem;
  box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.219);
  color: #3f2141;
  align-self: center;
  justify-self: center;
  text-align: center;
  transition: color 70ms linear;
  cursor: pointer;
}

.share-link:active {
  transform: translate(1px, 1px);
  transition: color 70ms linear;
  box-shadow: none;
}

.clipboard-tooltip {
  background: white;
  border-radius: 3px;
  font-size: 2rem;
  color: #3f2141;
}

.share-link:hover {
  background: rgb(247, 247, 247);
}

.share-modal {
  display: grid;
  grid-template-areas: "facebook twitter clipboard";
  grid-template-columns: 1fr 1fr 1fr;
  width: 250px;
  height: 150px;
  background: white;
  border-radius: 5px;
  border: 1px black;
  align-content: center;
}

.share-modal-overlay {
  height: 100%;
  width: 100%;
}

.share-facebook {
  grid-area: facebook;
  justify-self: center;
  align-self: center;
}

.share-twitter {
  grid-area: twitter;
  justify-self: center;
  align-self: center;
}

/* Smartphones (portrait) ---------- */
@media screen and (max-width: 320px) {
  html {
    font-size: 7px;
  }
}
/* Smartphones (landscape) ---------- */
@media screen and (min-width: 321px) {
  html {
    font-size: 8px;
  }
}
/* Tablets, iPads (portrait and landscape) ---------- */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 8px;
  }
}
/* Tablets, iPads (portrait) ---------- */
@media screen and (min-width: 768px) {
  html {
    font-size: 8px;
  }
}
/* Tablets, iPads (landscape) ---------- */
@media screen and (min-width: 1024px) {
  html {
    font-size: 10px;
  }
}
/* Desktops and laptops ---------- */
@media screen and (min-width: 1224px) {
  html {
    font-size: 12px;
  }
}
/* Large screens ---------- */
@media screen and (min-width: 1824px) {
  html {
    font-size: 16px;
  }
}
